<template>
 <div class="login">
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="0px" class="demo-ruleForm">
  <el-form-item label="" prop="question">
  <el-select v-model="ruleForm.question" placeholder="请选择密保问题">
    <el-option
      v-for="item in answer"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  </el-form-item>
  <el-form-item label="" prop="answer">
    <el-input type="password"  prefix-icon="el-icon-key" placeholder="请输入密保答案" clearable v-model="ruleForm.answer" autocomplete="off" ></el-input>
  </el-form-item>
  <el-form-item label="" prop="uname">
    <el-input v-model="ruleForm.uname" prefix-icon="el-icon-user" placeholder="请输入用户名" clearable></el-input>
  </el-form-item>
   <el-form-item label="" prop="pwd">
    <el-input v-model="ruleForm.pwd" prefix-icon="el-icon-lock" placeholder="请输入密码" clearable show-password></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
  </el-form-item>
</el-form>
 </div>
</template>

<script>
  export default {
    data() { 
      let checkUname = (rule, value, callback) => {
        if (value === '') {
        return  callback(new Error('请输入用户名'));
        } 
        if (value.length<2||value.length>12) 
        return  callback(new Error('用户名应该在2到12个字符之间'));
        return  callback();   
      };


      return {
        //   密保问题       
    answer: [{
          value: '黄金糕',
          label: '黄金糕'
        }, {
          value: '双皮奶',
          label: '双皮奶'
        }, {
          value: '蚵仔煎',
          label: '蚵仔煎'
        }, {
          value: '龙须面',
          label: '龙须面'
        }, {
          value: '你其中一位老师的名字',
          label: '你其中一位老师的名字'
        }],
//表单数据 等同于我们平常的value值，键要写接口中的数据
        ruleForm: {
          question: '',
          answer: '',
          uname: '',
          pwd:''
        },

        rules: {
            //表单数据（ruleform）中的键
            //ta的值是数组，里面是一个个对象，对应验证规则
            question: [
            { required:true,message:"请选择密保问题", trigger: 'blur' }
          ],
          answer: [
            {required:true,message:"请输入密保答案", trigger: 'blur' },
             {min:2,max:8,message:"长度在2到8个字符", trigger: 'blur' },
          ],
          uname: [
            { validator: checkUname, trigger: 'blur' }
            //上面的方法和这里好像一样...
          ],
          pwd: [
            {required:true,message:"请输入密码", trigger: 'blur' },
            { min:2,max:12,message:"长度在2到12个字符", trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
        //这是为了防止用户不进行失焦验证就提交，
        //所以提交时也得验证
      submitForm(formName) {
          //ruleform就是ref属性值 valid为真代表没问题就发送异步请求
        this.$refs.ruleForm.validate((valid) => {
          if (valid) {
            alert('submit!');
            // 后期发送异步请求
          } else {
            //  失败不用管，它自己有错误机制
            console.log('error submit!!');
            return false;
          }
        });
      },
    }
  }
</script>

<style lang="scss" scoped>
.login{
    width:100%;
    height: 100%;
    background:#2D3A4B;


     display: flex;
    justify-content: center;
    align-items: center;
    .el-select{
        width: 100%;
    }
    .el-button{
       width: 100%; 
    }
}
.el-form{
    width:300px ;
    height: 372px;
    background:#fff;
}
</style>